body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

      h1 {
        font-family: 'HelveticaNeue'; /* full name: HelveticaNeue-Bold; */
        font-weight: 700;
        font-size: 48px;
        color: rgba(46, 47, 48, 255);
      }

      h2 {
        font-family: 'HelveticaNeue'; /* full name: HelveticaNeue-Bold; */
        font-weight: 700;
        font-size: 36px;
        color: rgba(46, 47, 48, 255);
      }

      h3 {
        font-family: 'HelveticaNeue'; /* full name: HelveticaNeue-Bold; */
        font-weight: 700;
        font-size: 24px;
        color: rgba(46, 47, 48, 255);
      }

      li {
        font-family: 'HelveticaNeue'; /* full name: HelveticaNeue-undefined; */
        font-weight: 400;
        font-size: 24px;
        color: rgba(42, 131, 229, 255);
      }

      h1.hero {
        font-family: 'HelveticaNeue'; /* full name: HelveticaNeue-Bold; */
        font-weight: 700;
        font-size: 48px;
        color: rgba(253, 204, 20, 255);
      }