h2 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 36px;
}

h4 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 20px;
}

h3 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 24px;
}

h5 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 16px;
}

h6 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 12px;
}

li {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
}

p {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
}

a {
  color: rgba(0, 122, 255, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
}

h1 {
  color: rgba(94, 101, 109, 1);
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-size: 48px;
}

h1.hero {
  color: rgba(61, 180, 123, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  h1 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 40px;
  }

  h1.hero {
    color: rgba(29, 30, 31, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 40px;
  }

  h2 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 28px;
  }

  h4 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
  }

  h3 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 20px;
  }

  h5 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 15px;
  }

  h6 {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 12px;
  }

  li {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 12px;
  }

  p {
    color: rgba(46, 47, 48, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 16px;
  }

  a {
    color: rgba(0, 122, 255, 1);
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 12px;
  }
}

input {
  border-radius: 19px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(225, 225, 225, 1);
  color: rgba(46, 47, 48, 1);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 15px;
  padding: 10px 13px;
  ;
}

input::-webkit-input-placeholder {
  color: rgba(197, 213, 218, 1);
  font-family: 'Times New Roman P S M T';
  font-weight: 400;
  font-size: 15px;
}

input:focus {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 19px;
  border: solid 1px rgba(94, 101, 109, 1);
  outline: none;
  -webkit-outline: none;
}