body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 36px;
  font-weight: 700;
}

h4 {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 20px;
  font-weight: 700;
}

h3 {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 24px;
  font-weight: 700;
}

h5 {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 16px;
  font-weight: 700;
}

h6 {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 12px;
  font-weight: 700;
}

li {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 14px;
  font-weight: 400;
}

p {
  color: #2e2f30;
  font-family: "HelveticaNeue";
  font-size: 14px;
  font-weight: 400;
}

a {
  color: #007aff;
  font-family: "HelveticaNeue";
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-size: 48px;
  color: #2e2f30;
}
h1.hero {
  color: #f77600;
  font-family: "HelveticaNeue";
  font-size: 48px;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: "HelveticaNeue";
    font-weight: 700;
    font-size: 40px;
    color: #2e2f30;
  }
  h1.hero {
    color: #f77600;
    font-family: "HelveticaNeue";
    font-size: 40px;
    font-weight: 300;
  }

  h2 {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 28px;
    font-weight: 700;
  }

  h4 {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 700;
  }

  h3 {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 20px;
    font-weight: 700;
  }

  h5 {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 15px;
    font-weight: 700;
  }

  h6 {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 12px;
    font-weight: 700;
  }

  li {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 12px;
    font-weight: 400;
  }

  p {
    color: #2e2f30;
    font-family: "HelveticaNeue";
    font-size: 12px;
    font-weight: 400;
  }

  a {
    color: #007aff;
    font-family: "HelveticaNeue";
    font-size: 12px;
    font-weight: 400;
  }
}
input {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-size: 15px;
  color: #2e2f30;
  background-color: white;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  padding: 10px 13px;
}
input:-webkit-input-placeholder {
  color: #1d1e1f;
  font-family: "HelveticaNeue";
  font-size: 15px;
  font-weight: undefined;
}
input:focus {
  -webkit-outline: none;
  border: solid 1px black;
  outline: none;
}